.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.search-input {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.search-button {
  padding: 8px 15px;
  background-color: #4a07da !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* -------------------------------------- */
.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(240, 240, 240);
  max-width: 100%;
}

input#ej2-datetimepicker_0 {
  border: none;
  border-bottom: none;
  font-size: 19px;
  font-weight: 500;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left) {
  border-bottom: none !important;
}

.e-input-group:not(.e-float-icon-left):focus,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):focus {
  border-bottom: none !important;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(
    .e-float-input
  )::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(
    .e-float-input
  )::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)
  .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)
  .e-input-in-wrap::after {
  background: none !important;
}

span.e-input-group-icon.e-range-icon.e-icons {
  position: absolute;
  left: -28%;
  width: 100%;
  bottom: 0;
  right: 50%;
  padding: 18px;
  opacity: 0;
}

span.e-input-group-icon.e-range-icon.e-icons.e-active {
  position: absolute;
  left: -28%;
  width: 100%;
  bottom: 0;
  right: 50%;
  padding: 18px;
  opacity: 0;
}

/* To specify background color and border */
.e-calendar {
  background-color: peachpuff;
  border: 3px solid rgb(51, 253, 0);
}

span.e-input-group.e-control-wrapper.e-date-range-wrapper.e-valid-input {
  line-height: 47px;
  margin-top: 0px;
}

span.e-input-group.e-control-wrapper.e-date-range-wrapper.e-valid-input {
  padding-bottom: 10px;
}

p.time-date-slot-text {
  position: absolute;
  top: 60%;
  left: 0;
}

button.room-guest-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.traveling-room-slot select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  padding-top: 19px;
  position: relative;
  margin-top: 13px;
  border-radius: 6px;
  padding: 23px 15px 3px 17px;
}
.traveling-room-slot label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 2px 13px;
  font-size: 13px;
}

.traveling-room-slot {
  position: relative;
}

input#date {
  padding-bottom: 23px;
}

label.adults-slots-label {
  position: absolute;
  bottom: 0;
  left: 0;
}

.date-time-slots input {
  font-size: 20px !important;
  font-weight: 500 !important;
}
